
.footer-top {
  background: #b9fd50;
  padding: 13%;
  position: relative;
}

.footer-top-content {
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translateX(-50%);
  padding: 60px;
  background: #000;
  color: #fff;
  z-index: 10;
  width: 70%;
  border-radius: 20px;
  text-align: center;
}

.footer-bottom {
  background: #111204;
  color: #fff;
  padding: 20px 0;
  position: relative;
  margin-top: -100px;
}

.foot-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 5%;
}

.foot-item {
  padding: 3%;
}

.footer-heading {
  color: #9eff00;
}
.menu li {
  padding: 7px;
}
.menus {
  list-style: none;
  padding: 0;
  display: inline-flex;
}
.menu {
  list-style: none;
  padding: 0;
}

.menus li {
  margin: 0px 20px;
}
.icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  padding-left: 0.5rem !important;
  list-style-type: none;
}

.icons i {
  color: #ffffff;
}

.footer-bottom-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 5%;
  border-top: 1px solid #303030;
  margin-top: 20px;
}

.footer-bottom-text {
  color: #fff;
}

a {
  text-decoration: none !important;
  color: #fff !important;
}
@media (max-width: 1366px) {
  .foot-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-top {
    padding: 18%;
  }
}
@media (max-width: 1280px) {
  .foot-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-top {
    padding: 20%;
  }
  .main-heading {
    font-size: 35px;
  }
  .footer-heading {
    font-size: 25px !important;
  }
}
@media (max-width: 1024px) {
  .footer-top-content {
    padding: 30px;
  }
  .main-heading {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .foot-container {
    grid-template-columns: 1fr;
  }

  .footer-top-content {
    width: 90%;
    top: 50px;
    left: 5%;
    transform: none;
    padding: 20px;
  }

  .footer-bottom-bar {
    flex-direction: column;
    align-items: center;
  }

  .footer-bottom-bar .menu {
    margin-bottom: 10px;
  }

  .footer-bottom-bar .footer-bottom-text {
    margin-top: 10px;
  }
}

@media (max-width: 640px) {
  .footer-heading {
    font-size: 20px !important;
  }
  .main-heading {
    font-size: 20px;
  }
  .paragraph,
  .paragraph1 {
    font-size: 13px;
  }

  .footer-top-content {
    top: 20px;

    padding: 15px;
  }
  .footer-bottom {
    padding: 40px 0;
  }
}
@media (max-width: 414px) {
  .footer-top {
    padding: 32%;
  }
}
