.carousel .control-next.control-arrow:before {
  border-left: 8px solid #000;
}

.carousel .control-prev.control-arrow:before {
  border-right: 8px solid #000;
}

.carousel.carousel-slider .control-arrow:hover {
  background: none !important;
}

.paragraph {
  font-size: 16px;
  font-weight: 500;
 
}
.paragraph1 {
  font-size: 18px;
}
.main-heading {
  font-size: 50px;
  margin-top: 0px;
  margin-bottom: 10px;
}
 
@media (max-width: 768px) {
  .testimonial-section {
    display: none;
  }
}
